<html>
    <head>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script>
            if (typeof Object.assign != 'function') {
                var asnSource, asnIndex, asnKey;
                Object.assign = function(target) {
                    'use strict';
                    if (target == null) {
                        throw new TypeError('Cannot convert undefined or null to object');
                    }

                    target = Object(target);
                    for (asnIndex = 1; asnIndex < arguments.length; asnIndex++) {
                        asnSource = arguments[asnIndex];
                        if (asnSource != null) {
                            for (asnKey in asnSource) {
                                if (Object.prototype.hasOwnProperty.call(asnSource, asnKey)) {
                                    target[asnKey] = asnSource[asnKey];
                                }
                            }
                        }
                    }
                    return target;
                };
            }
        </script>
    </head>
    <body>
        <div id="root">
        </div>
    </body>
</html>